# Database (Supabase PostgreSQL)
DATABASE_URL="postgresql://postgres:FzpKuzkq9UM#4q*@db.kfohuplefdcgyjoammzv.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:FzpKuzkq9UM#4q*@db.kfohuplefdcgyjoammzv.supabase.co:5432/postgres"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://kfohuplefdcgyjoammzv.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtmb2h1cGxlZmRjZ3lqb2FtbXp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxMDc2OTAsImV4cCI6MjA5NzY4MzY5MH0.QM_EHoEIixoK8uwHJOQ9Sxt9gNN5VMPfp0AKtz4LNa4"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtmb2h1cGxlZmRjZ3lqb2FtbXp2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjEwNzY5MCwiZXhwIjoyMDk3NjgzNjkwfQ.eXIzj3YfTDoe1k0Ir3XiuI5PoemxObuDE2BigV7a6ug"

# NextAuth
NEXTAUTH_SECRET="j0iu45Xt13YsbFCqBKPp77mDu6wJR7kvDbfOvQL0UPs="
NEXTAUTH_URL="https://devmieayam.web.id"

# App
NEXT_PUBLIC_APP_URL="https://devmieayam.web.id"
NEXT_PUBLIC_MAPBOX_TOKEN=""
